@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 729px;
  background-color: #0e0e0e;
}

header .header-content menu nav ul li a{
  text-decoration: none;
  color:#ffffff;
}

header .header-content menu nav ul li{
  list-style: none;
  margin-top: 35px;
  margin-right: 34px;
}

header .header-content .header-logo img{
  margin:35px 0 0 165px;
}
header .header-content menu nav{
  display: flex;
}
header .header-content menu nav .navbar-links{
  margin-right:205px
}
header .header-content menu nav ul{
  display: flex;
  margin-right: 10px;
}
header .header-content menu nav ul li a img{
  margin-left:319px;
}