@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
}

header .header-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 729px;
  background-color: #0e0e0e;
}

header .header-content menu nav ul li a{
  letter-spacing: 2px;
  text-decoration: none;
  color:white;
}

header .header-content menu nav ul li{
  list-style: none;
  margin-top: 35px;
  margin-right: 34px;
}

header .header-content .header-logo img{
  margin:35px 0 0 165px;
}

header .header-content menu nav .navbar-links{
  margin-right:513px
}

header .header-content menu nav ul{
  display: flex;
  margin-right: 10px;
}

header .header-content menu nav ul li a img{
  margin-left:385px;
}

header .header-content menu nav .nav-close{
  position: absolute;
  width: 1110px;
  height: 1px;
  left: 165px;
  top: 96px;

  background: white;
  opacity: 0.2;
}

.cart-shop{
  position: absolute;
  right: 245px;
}

header .header-content menu nav h2{
  height: 19px;
  color: white;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 225px;
  right: 1146px;
}

header .header-content menu nav .bitmap{
  position: absolute;
  right: 220px;
  width: 708.8px;
  height: 886px;
}

header .header-content menu nav h1{
  position: absolute;
  height: 116px;
  left: 165px;
  right: 879px;
  top: 268px;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

header .header-content menu nav .h2{
  position: absolute;
  left: 165px;
  right: 926px;
  top: 408px;
  bottom: 246px;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: white;
  opacity: 0.75;
}

header .header-content menu nav button{
  position: absolute;
  top: 523px;
  left:165px;
  right: 1115px;
  background: #D87D4A;
  width: 160px;
  height: 48px;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

